* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f7fa;
    padding-bottom: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Montserrat;
}
.wrapper {
    background-color: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1200px) {
}
.sidebar {
    background: #1e2939;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 370px;
}
.my-photo {
    max-width: 370px;
}
.main-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}
.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}
.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #737a84;
}
.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;
    color: #ffffff;
}
.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}
.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}
.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #c75b14;
    margin-left: 15px;
}
.tech-skills-text {
    color: #d2d4d8;
}
.frontend-web-developer {
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
}
.my-name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    margin-top: 24px;
}
.text-about-me {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.info-container {
    margin-bottom: 65px;
}
.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
.projects {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 55px;
}
.projects-item {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 3px;
}
.projects-item-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.project-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.skills-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.dots {
    color: #a8a8a8;
    font-weight: 100;
}
.experience-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 15px;
}
.orange {
    color: #ff6b08;
}
.professional-period {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
    margin-bottom: 14px;
}
.professional-divider {
    color: #000000;
}
.professional-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}
.professional-duties-list {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.high-school {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 12px;
}
.faculty {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
